.main {
    width: 100vw;
 
    background-color:var(--header-blue);
    color: white;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
   
}
 .main button {
    background-color: var(--orange);
    /* rounded corners */
    border-radius: 10px;
    width: fit-content;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
 }
 .main button:active {
    transform: translate(1px, 1px);
   
    box-shadow: none;
 }
.main nav ul {
    display: flex;
    
}