html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: small;
  scroll-behavior: smooth;
  background-color: var(--main-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --header-blue: #002646;
  --main-blue: #002F55;
  --highlight-blue: #005fb0;
  --yellow:  #FBF867;
  --orange: #FF7B00;
}
